body {
  background-color: rgb(127, 120, 145);
}

.card-selection {
  position: sticky;
  z-index: 99;
  top: 0;
}

.navbar {
  width: 100%;
}

.table-head {
  position: sticky;
  z-index: 99;
  top: 0;
}

tr:hover{
  background-color: rgb(0, 105, 217);
  transform: scale(1.02);
  transition: transform 1s ease;
  font-weight: 600;
  color: aliceblue;
}

tr:not(hover){
  transform: scale(1);
  transition: transform 1s ease;
}

